<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#loanRequestModal">Create Loan Request</a>
    </div>

    <%= render "shared/search" %>

  </div>
</div>

<br>

<%= render "shared/borrower_thumbnail" %>

<!-- Create Loan Request Modal -->
<div class="modal fade" id="loanRequestModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "new_loan_request" %>
    </div>
  </div>
</div>

<div id="loan-request-modal" class="modal fade"></div>
