<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <select class="form-control btn-info">
        <option value="volvo">Category 1</option>
        <option value="saab">Category 2</option>
        <option value="mercedes">Category 3</option>
        <option value="audi">Category 6</option>
      </select>
    </div>

    <%= render "shared/search" %>

  </div>
</div>

<br>

<%= render "shared/lender_thumbnail" %>
