<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container">

  <div class="row">
    <h1 class="col-md-8"><%= current_user.name %>'s Projects</h1>

    <%= link_to "Create", '#', class: "col-md-4 btn btn-primary" %>
  </div>

  <% 3.times do %>
    <div class="row">
      <% 3.times do %>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="thumbnail">
            <img src="http://www.kiva.org/img/w632/1847429.jpg" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Farmers work hard and deserve your money. Help us please!</p>
              <p><a href="#" class="btn btn-primary" role="button">About</a>
              <a href="#" class="btn btn-default" role="button">Edit</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
