<div class="modal-body">
  <%= form_for(:session, url: login_path) do |f| %>
    <p>  Please enter your email: <%= f.text_field :email, placeholder: 'Email' %> </p>
    <p>  Please enter your password: <%= f.password_field :password, placeholder: 'Password' %> </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default"> <%= f.submit "Login" %> </button>
</div>
  <% end %>
