language: ruby
cache: bundler
rvm:
- 2.0.0
env:
- DB=postgresql
script:
- RAILS_ENV=test bundle exec rake db:test:prepare --trace
- bundle exec rspec spec/
before_script:
- psql -c 'create database my_app_test' -U postgres
deploy:
  provider: heroku
  api_key:
    secure: RX9H30R//985unaRjhkDE+USmDxuxqhuumw3TD6Qv52+XYjaMvOCM12Dnry42BbOMtzUBhrpQFmkgjq2RO4NEee/jCX+Giral4+7U7N+SjCv38mKyAHfdnqlC1oZnsd3MiGgpaSC96utA+faXB9t+dYcCDADb5Rk9ACotC2xnwo=
  run: "rake db:migrate"
  app: lendkeevahh
  on:
    repo: neslom/the_pivot
