<body>
<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h2>Empower People Through Microlending</h2>
    <br>
    <br>
    <br>
    <br>
    <a href="#about" class="btn-ghost btn-xlarge">Find Out More</a>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>We envision a world where all people hold the power to create opportunity for themselves and others.</h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-usd fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Want to Donate?</strong>
              </h4>
              <p>Help Change The World - Become a Lender Today!</p>
              <a href="#" data-toggle="modal" data-target="#lenderSignUpModal" class="btn btn-ghost">Sign Up</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-heart fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Need Funding?</strong>
              </h4>
              <p>Get Some Funding -<br>Sign Up As A Borrower!</p>
              <a href="#" data-toggle="modal" data-target="#borrowerSignUpModal" class="btn btn-ghost">Sign Up</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flask fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Just Looking Around?</strong>
              </h4>
              <p>Browse Requests -<br> Donating Rules!</p>
              <a href="/browse" class="btn btn-ghost">Browse</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shield fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Already a User?</strong>
              </h4>
              <p>Check Out Your Account -<br> Login Here!</p>
              <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-ghost">Login</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Our Amazing Team</h2>
        <hr class="small">
        <h3 class="section-subheading text-muted">Working hard so you can make a difference.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://i.imgur.com/DSR7fE9.jpg" class="img-responsive img-circle" alt="">
          <h4>Trey</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/treeeyyy_"><i class="fa fa-twitter"></i></a>
            <li><a href="https://github.com/treyx"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://i.imgur.com/hBS1mQo.jpg" class="img-responsive img-circle" alt="">
          <h4>Tino</h4>
          <p class="text-muted">Lead Leader</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/iv_alentino"> <i class="fa fa-twitter"></i></a>
            <li><a href="https://github.com/xvalentino"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="http://i.imgur.com/2Z9VMfn.jpg" class="img-responsive img-circle" alt="">
          <h4>Markus</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/iMarkus14"><i class="fa fa-twitter"></i></a>
            <li><a href="https://github.com/neslom"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Map -->
  <section id="contact" class="map">
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.5511158975796!2d-104.99999600000002!3d39.749732999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c78c4f77d2b15%3A0x3ff4c7d558d0edd1!2sTuring+School+of+Software+%26+Design!5e0!3m2!1sen!2sus!4v1427921876543"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.749733,-104.999996,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4f77d2b15:0x3ff4c7d558d0edd1"></a>
    </small>
    </iframe>
  </section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Keevahh</strong>
        </h4>
        <p>1510 Blake Street<br>Denver, CO 80202</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:jorge@turing.io">jorge@turing.io</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Turing School 2015</p>
      </div>
    </div>
  </div>
</footer>

<!-- Custom Theme JavaScript -->
<script>

// Scrolls to the selected menu item on the page
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

      var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
  });
});
</script>

</body>

</html>
