<select class="col-xs-3">
<option value="volvo">Category 1</option>
<option value="saab">Category 2</option>
<option value="mercedes">Category 3</option>
<option value="audi">Category 6</option>
</select>

<form class="search-bar col-xs 3">
  Search Requests:
  <input type="search" name="search">
</form>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container">



      <% 9.times do %>
        <div class="panel panel-default col-sm-6 col-md-4 col-lg-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScGoV_pVGV1TwOF-v6fcRBqn7wg7Z2AEyJQnl6zSEur9x8zLs3">
          <h3><%= link_to "Farming Thing"%></h3>
          <p>Farmers work hard and deserve your money. Help us please!</p>
        </div>
      <% end %>


</div>
