<form>
Search Requests:
<input type="search" name="googlesearch">
</form>

<select>
  <option value="volvo">Category 1</option>
  <option value="saab">Category 2</option>
  <option value="mercedes">Category 3</option>
  <option value="audi">Category 4</option>
</select>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id='items'>
  <%= render @items %>
</div>

