<form>
  Search Requests:
  <input type="search" name="googlesearch">
</form>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id='items'>
  <%= render @items %>
</div>

