<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><%= current_user.name %>'s Portfolio</h3></div>
    <div class="panel-body">
      <p>Annual Total: $100.00</p>
    </div>
<table class="table table-bordered">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date Donated</th>
          <th>Name</th>
          <th>Category</th>
          <th>Amount Donated</th>
          <th>Repayment Begin Date</th>
          <th>Repayment Rate</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>3/1/15</td>
        <td>Ophelia Peterson</td>
        <td>Agriculture</td>
        <td>$25.00</td>
        <td>6/1/15</td>
        <td>Monthly</td>
      </tr>
      <tr>
        <td>2/1/15</td>
        <td>Parker Group</td>
        <td>Shelter</td>
        <td>$40.00</td>
        <td>5/1/15</td>
        <td>Monthly</td>
      </tr>
      <tr>
        <td>1/1/15</td>
        <td>Rambo</td>
        <td>Women</td>
        <td>$35.00</td>
        <td>4/1/15</td>
        <td>Monthly</td>
      </tr>
      </tbody>
    </table>
  </div>
</table>
</div>
