<div class="container">
  <% 3.times do %>
    <div class="row">
    <% 3.times do %>
      <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail">
        <img src="http://www.kiva.org/img/w632/1847429.jpg" alt="...">
        <div class="caption">
          <div class="thumbnail-label">
            <h3>Thumbnail label</h3>
          </div>
          <p>Farmers work hard and deserve your money. Help us please!</p>
          <p><a href="#" class="btn btn-default" role="button">About</a>
          <a href="#" class="btn btn-info pull-right" role="button">Add to Cart</a></p>

          <%= render "layouts/progress_bar" %>

        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
</div>
